# Build artifacts
.clang_complete
.clangd
compile_commands.json
.build/
*.elf
*.idx
*.log
*.lss
*.lst
*.map
*.o
*.stackdump
*.sym

# QMK-specific
*.bin
*.eep
*.hex
*.qmk
*.uf2

# Secret files
secrets.c
secrets.h
secrets.el
